

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    flex: 0 1 auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: all .2s ease-out;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 4px 4px 20px 7px #ff6b6b
}

.card-img-container {
    flex: 1 0 auto;
    text-align: center;
}

.card-img-container img {
    width: 200px;
    height: 160px;
}

.pokeball-spin {
    object-fit: contain;
    animation: spin-ball 3s infinite;
}

.card-name {
    background-color: rgb(255, 42, 42);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
}



@keyframes spin-ball {
    from {
        transform: rotate(0deg) scale(0.5);
    }
    to {
        transform: rotate(360deg) scale(0.5);
    }
}


