
#root {
  max-width: 1360px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2rem;
  font-family: "Fontdiner Swanky", serif;
}

.header h1>span:nth-child(1) {
  color: red;
}

.level select {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}
